* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .cls-1 {
        fill: green !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cls-1 {
        fill: yellow !important;
    }
}

.wave {
    position: relative;
    z-index: -1;
}

h1 {
    position: absolute;
    left: 40%;
    top: 10%;
    color: white;
    font-size: 56px;
}

section {
    position: absolute;
    top: 65%;
    padding: 20px 200px;
}

h2 {
    color: #01869f;
    padding-bottom: 2%;
    font-size: 35px;
    letter-spacing: 4px;
}

.right {
    text-align: right;
    top: 90%;
}

footer p {
    position: absolute;
    top: 125%;
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #004552;
    color: #fff;
    margin-top: 50px;
}

.copyright {
    padding-top: 75px;
}